body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1400px;
    /* margin: 0 auto; */
}


header {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;

}

.planet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    margin: 0px 100px;
    border: solid 1px white;


}

.planetreverse {
    flex-direction: row-reverse;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;


}


button {
    width: 110px;
    height: 40px;
    font-family: 'Space Mono';
    color: white;
    text-transform: uppercase;
    background-color: #FC3D21;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    

}

button:hover {
color: white;
background-color: #ae311e;

}

.buttonclicked {
    color: #FC3D21;
    background-color: white;
}



h1 {
    color: white;
    font-family: 'Orbitron';
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color: white;
    font-family: 'Orbitron';
    text-transform: uppercase;
    text-decoration: underline #FC3D21;
    margin: 0px 0px;

}

p {
    color: white;
    font-family: 'Space Mono';
    color: lightgrey;
}

img {
    max-width: 650px;
}

@media screen and (max-width: 1400px) {

    img {
        max-width: 500px;
    }
    
    
}


@media screen and (max-width: 1100px) {

    img {
        max-width: 400px;
        
    }

    

    .planet {
        margin: 0px 50px;
    }
    
    
}


@media screen and (max-width: 1100px) {

section {
    flex-direction: column-reverse;
    border: solid 1px white;
    margin: 10px 20px;
    margin: 20px auto;
}

.planetreverse {
    flex-direction: column-reverse;
    justify-content: center;
    border: solid 1px white;
}

.planet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 0px 0px;
    border: none


}

img {
    margin: 20px auto;
}


}
